<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">


    <test verbose="2" preserve-order="true"
          name="D:/github/myed_rest_RestAssured-Jira_example-/src/test/java/pettest_v2/PetWithJSONObjectTest.java">
        <classes>
            <class name="pettest_v2.PetWithJSONObjectTest">
            </class>
        </classes>
    </test>
</suite>